<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    <!-- HACER QUE SE VEA BIEN EN IPHONE -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Agregar comida</title>

    <link rel="stylesheet" href="/static/style.css">

    <!-- Iconos PWA -->
    <link rel="apple-touch-icon" sizes="180x180" href="/static/icon.png">
    <link rel="icon" type="image/png" href="/static/icon.png">

    <link rel="manifest" href="/static/manifest.json">
    <meta name="theme-color" content="#ffffff">
</head>

<body>

<h1>Agregar comida</h1>

<form method="POST" action="/agregar">

    <label>Fecha:</label>
    <input type="date" name="fecha" value="{{ fecha_actual }}">

    <label>Hora:</label>
    <input type="time" name="hora" value="{{ hora_actual }}">

    <label>Tipo:</label>
    <select name="tipo">
        <option value="Desayuno">Desayuno</option>
        <option value="Almuerzo">Almuerzo</option>
        <option value="Merienda">Merienda</option>
        <option value="Cena">Cena</option>
        <option value="Snack">Snack</option>
    </select>

    <label>Descripción:</label>
    <textarea name="descripcion"></textarea>

    <button type="submit">Guardar</button>
</form>

<br>

<a href="/" class="btn">Volver</a>

</body>
</html>